/* _________________Navigation menu___________________ */

#navbar{
	position: sticky;
	top: 0;
	background-color: #438C7D;
	height: 48px;
    width: 100%;
    margin: 0;
	padding: 0;
	z-index: 29}

#navbar ul{
	height: 100%;
    display: flex;
    flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    list-style: none;
	margin: 0}

#navbar ul a{
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	font-size: 18px;
	text-shadow: 1px 1px 1px #09142C;
	letter-spacing: 2px;
	text-decoration: none;
    padding: 0 10px}

#navbar span{
	display: block}

/*  __________________Mobile navbar___________________ */

#navmob{
	position: sticky;
	top: 0;
	display: flex;
	flex-flow: column nowrap;
	background-color: #438C7D;
    margin: 0;
	z-index: 49}

.lang {
	display: flex}

#navmob-bar{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 100%;
	background-color: #438C7D}

#drop-menu{
	display: flex;
	flex-flow: column nowrap}

.a-mob{
	display: flex;
	align-items: center;
	background-color: #438C7D;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2px;
    overflow: hidden;
	height: 0px}

.a-mob span{
	display: block;
	padding-left: 30px}

/* ___________________mobile icon___________________ */

.icon-hamburg {
 	display: flex;
	flex-flow: column nowrap;
	width: 60px;
	height: 48px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	cursor: pointer}

.bar1, .bar2, .bar3 {
 	width: 28px;
	height: 3px;
 	margin: 3px 2px;
	border-radius: 1px;
 	background-color: white;
 	transition: 0.4s}

.act .bar1 {width: 32px;
 	transform: rotate(-45deg) translate(-7px, 6px);
	background-color: #cc0605;}

.act .bar2 {opacity: 0;}

.act .bar3 {width: 32px;
 	transform: rotate(45deg) translate(-7px, -6px);
	background-color: #cc0605}

